{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="{% static '.\css\main.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div id="grad" class="base">
           
            <img id="rasm" src="{% static '.\images\person.png' %}" alt="logo"> 
            
            <ul class="ull">
                <li class="ul-items"><a href="{% url 'Home' %}"> Asosiy </a></li>
                <li class="ul-items"><a href="{% url 'About' %}">Men haqimda</a></li>
                <li class="ul-items"><a href="{% url 'Portfolio' %}"> Loyihalar</a></li>
                <li class="ul-items"><a href="{% url 'Services' %}"> Xizmatlarim</a></li>
                <li class="ul-items"><a class="active" href="{% url 'Contact' %}"> Bog‘lanish</a></li>
            </ul>
            
        </div>

        <div class="backimg">
            <div class="phones">
                <div class="phone-item">
                <i class="fas fa-phone"></i>
                <span style="font-weight: 600;">+998 97 567 20 09 </span><br>
                </div>
                <div class="phone-item">
                <i class="fas fa-at"></i>
                <a href="samandarsariboyev69@gmail.com">
                samandarsariboyev69@gmail.com
                </a>
                </div>
                <div class="phone-item">
                    <i class="fab fa-telegram-plane"></i>
                    <a href="https://t.me/Samandar_programmer">
                    Samandar_programmer
                    </a>
                </div>
                <div class="phone-item">
                    <a href="https://www.facebook.com/samandar.sariboyev.14">
                    <i class="fab fa-facebook-messenger"></i>
                    samandar.sariboyev.14
                </a>
                </div>

            </div>
        </div>
    </body>
</html>